#mosio-widget-container {
	/*
	border: 1px solid red;
	width: 100px;
	*/
	position: absolute;
	right: 0px;
	top: 20%;
	background-color: transparent;
	color: #000;
}

#mosio_widget_tab {
	width: 44px;
	height: 160px;
	/*
	background-image: url('/par/images/widget/tab_cwu2.png');
	*/
	cursor:pointer;
	cursor:hand;
	border: 0px solid red;
	position: fixed;
	top: 20%;
	right: 0px;
}

#mosio-widget-container div.mosio_chat_window {
	/*
	border-bottom: 0px solid #ccc;
	border-left: 1px solid #ccc;
	border: 1px solid #ccc;
	background-color: #f00;
	background-color: transparent;
	*/
	background-color: #fff;
	text-align: left;
	font-family: arial, verdana, georgia, sans-serif;
}

div.mosio_chat_window div.mosio_handlebar {
	float: left;
	width: 54px;
	height: 211px;
	background-image: url('/par/images/widget/handlebar_cwu.png');
	cursor: move;
	border: 0px solid blue;
	position: absolute;
	left: -52px;
	z-index: 100000;
}

#mosio-widget-container div.mosio_chat_window .date {
	color: #888;
	font-size: 0.8em;
}

div.mosio_chat_window .mosio_widget_chat {
	border: 1px solid #999;
	overflow: auto;
	height: 300px;
	width: 444px;
	background-color: #fff;
	margin-top: 3px;
	text-align: left;
}

#mosio-widget-container div.mosio_chat_window .mosio_widget_chat p.patron {
	background-color: #fff;
	margin: 10px;
	padding: 0px;
}

#mosio-widget-container div.mosio_chat_window .mosio_widget_chat p.agent {
	background-color: #f3f3f3;
	margin: 10px;
	padding: 0px;
}

#mosio-widget-container div.mosio_chat_window .mosio_widget_chat p.system_msg {
	background-color: #ececec;
	margin: 3px;
	padding: 5px;
	font-style: italic;
}


#mosio-widget-container div.mosio_chat_window p.patron .user {
	color: #c00;
	color: #27787f;
	font-size: 0.9em;
	font-weight: bold;
}

#mosio-widget-container div.mosio_chat_window p.agent .user {
	color: #00c;
	color: #888;
	font-size: 0.9em;
	font-weight: bold;
}

#mosio-widget-container div.mosio_chat_window p.system_msg .user {
	color: #666;
	font-size: 0.9em;
	font-weight: bold;
}

#mosio-widget-container div.mosio_chat_window .mosio_widget_chat p.notice {
	padding: 3px;
	border: 1px solid #67A843;
	background-color: #D9ECBD;
	color: #444;
	font-family: monospace;
	/* 
	font-size: 0.9em;
	*/
	font-size: 1.1em;
	font-size: 11pt;
	line-height: 1.5em;
}

div.mosio_chat_window div.mosio_form_box {
	/*
	padding-left: 65px;
	height: 207px;
	padding-left: 4px;
	*/
	width: 450px;
	padding: 10px;
	
	background-color: #fff;
	border: 1px solid #999;

	/*
	-moz-box-shadow:    2px 2px 2px gray;
	-webkit-box-shadow: 2px 2px 2px gray;
	box-shadow:         2px 2px 2px gray;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #E0E0E0));
	background: -moz-linear-gradient(top, white 0%, white 55%, #E0E0E0 100%);
	background: -ms-linear-gradient(top, white 0%, white 55%, white 85%, #e0e0e0 100%);
	background: linear-gradient(to bottom, white 0%, white 50%, white 85%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
	*/
}


div.mosio_chat_window textarea {
	margin: 0px;
	margin-top: 5px;
	padding-left: 5px;
	/* width: 400px; */
	width: 439px;
	height: 50px;
	border: 1px solid #999;
}


#mosio-widget-container div.mosio_chat_window p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10pt;
}

div.mosio_chat_window .mobile {
	margin-top: 5px;
	padding-left: 5px;
	width: 300px;
	height: 20px;
	border: 1px solid black;
}



div.mosio_chat_window div.form_copy {
	padding-top: 3px;
	float: left;
	width: 251px;
	font-size: 10px;
}

div.mosio_chat_window div.form_copy p {
	font-size: 11px;
	letter-spacing: .5px;
}

div.mosio_chat_window div.mosio_logo {
	background-color: transparent;
	position: relative;
	height: 30px;
}

div.mosio_chat_window div.mosio_logo img {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

div.mosio_chat_window div.mosio_widget_controls {
	padding-top: 7px;
	padding-bottom: 7px;
	float: left;
}

#mosio-widget-container div.mosio_chat_window a.mosio_submit,
#mosio-widget-container div.mosio_chat_window a.mosio_submit_aaq,
#mosio-widget-container div.mosio_chat_window a.mosio_stop_btn,
#mosio-widget-container div.mosio_chat_window a.mosio_close_btn,
#mosio-widget-container div.mosio_chat_window a.mosio_restart_btn {
	font-size: 17px;
	padding: 2px 10px 2px 10px;
	background-color: white;
	border: 1px solid black;
	color: black;
	text-decoration: none;
}

div.mosio_chat_window a.mosio_close_btn,
div.mosio_chat_window a.mosio_restart_btn {
	display: none;
}

div.mosio_chat_window a img {
	border: 0;
}

div.mosio_error {
	color: #f00;
	background-color: #fff;
	font-weight: normal;
	border: 1px solid #000;
	position: absolute;
	left: 0px;
	top: 10px;
	width: 500px;
	height: 500px;
	overflow: scroll;
	padding: 10px;
}

div.mosio_profile{
	border: 1px solid #999;
	background-color: #f00;
	background-color: transparent;
	background-color: #fff;
	text-align: left;
	font-family: arial, verdana, georgia, sans-serif;
	width: 450px;
	height: 64px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 3px;
}

.mosio_profile .frame{
	float: left;
	width: 48px;
	height: 64px;
}

.mosio_profile img{
	/**
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	**/
	border: 1px solid #999;
}

.mosio_profile #name{
	clear: both;
	text-transform: uppercase;
	margin-left: 25px;
	font-size: 15px;
	font-weight: bold;
}

.mosio_profile #bio,#location,#url{
	margin-left: 25px;
	font-size: 12px;
	padding-top: 3px;
}

.mosio_profile #location{
	font-style: italic;
}